<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/7838bcaa72.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/evolution/styles.css" />
    <title>Evolution page</title>
  </head>
  <body class="dark">
    <!-- NAV BAR SO UK WDF UR DOING BAKA! -->
    <nav id="nav-bar">
      <div id="profile-picture">
        <img class="pfp" src="/dashboard/basic.png" />
      </div>
      <div id="username" class="icons">
        <h1><%= user.nickname %></h1>
      </div>
      <div id="settings">
        <div class="dropdown">
          <form action="/settings" method="GET">
            <button
              id="settings-button"
              onmouseover="changeClass()"
              onmouseout="changeBack()"
            >
              <i id="gear" class="fa fa-gear icons" style="font-size: 26px"></i>
            </button>
          </form>
        </div>
        <form action="/logout" method="POST">
          <button id="log-out-button">
            <i class="fa fa-sign-out icons" style="font-size: 26px"></i>
          </button>
        </form>
      </div>
      <div class="clickable">
        <p class="gen icons" id="inv">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-pokeball"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="9" cy="9" r="9" transform="translate(3 3)" />
            <circle cx="12" cy="12" r="3" />
            <path d="M3 12h6m6 0h6" />
          </svg>
          <span>Inventory Section</span>
        </p>
        <div id="inventory-section">
          <ul>
            <li>
              <form method="get" action="/">
                <button id="mons" class="icons">Pokemon Inventory</button>
              </form>
            </li>
            <li>
              <form method="GET" action="/evolution"></form>
              <button id="items" class="icons">
                <i id="mon" class="fa fa-angle-double-right"></i> Evolution
              </button>
            </li>
          </ul>
        </div>
        <p class="gen icons" id="game">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-pokeball"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <circle cx="9" cy="9" r="9" transform="translate(3 3)" />
            <circle cx="12" cy="12" r="3" />
            <path d="M3 12h6m6 0h6" />
          </svg>
          Game Section
        </p>
        <div id="game-section">
          <ul>
            <li>
              <form method="get" action="/expedition">
                <button id="mons" class="icons">Expedition</button>
              </form>
            </li>
            <li>
              <form method="get" action="/roulette">
                <button id="items" class="icons">Roulette</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="balance">
        <div class="currency">
          <h2 class="bal">
            Balance:
            <span id="balance">$<%=currentBalance.pokecash %></span>
          </h2>
          <h2 class="dust opa">
            Dust: <span id="dust">✧ <%=currentDust.pokedust%></span>
          </h2>
        </div>
        <button id="switch" class="switch">
          <i class="fa-solid fa-arrows-spin" style="font-size: 24px"></i>
        </button>
      </div>
    </nav>
    <!-- END OF NAV BAR -->
    <div class="tab">
      <div class="header">
        <div class="left">
          <button class="buwuton evo" id="evolve">Evolve</button>
          <button class="buwuton select" id="select">Select</button>
          <button class="buwuton reset" id="reset">Reset</button>
        </div>
        <div class="right">
          <input class="search__bar" type="text" placeholder="Search. . ." />
        </div>
      </div>
      <div class="lower__elements">
        <div class="summon__circle">
          <div class="top__zone">
            <img src="/evolution/incubator.jpg" alt="circle" />
            <div id="to-evolve" class="slot"></div>
          </div>
          <div class="bottom__zone">
            <img src="/evolution/incubator.jpg" alt="circle" />
            <img src="/evolution/incubator.jpg" alt="circle" />
            <img src="/evolution/incubator.jpg" alt="circle" />
            <div class="slot material material__one"></div>
            <div class="slot material material__two"></div>
            <div class="slot material material__three"></div>
          </div>
          <div class="arrow one">
            <i class="fa-solid fa-arrow-up fa-5x"> </i>
            <div class="background__one">
              <div class="fill__one"></div>
            </div>
          </div>
          <div class="arrow two">
            <i class="fa-solid fa-arrow-up fa-5x"> </i>
            <div class="background__two">
              <div class="fill__two"></div>
            </div>
          </div>
          <div class="arrow three">
            <i class="fa-solid fa-arrow-up fa-5x"> </i>
            <div class="background__three">
              <div class="fill__three"></div>
            </div>
          </div>
          <div class="arrow two">
            <i class="fa-solid fa-arrow-up fa-5x"></i>
          </div>
          <div class="arrow three">
            <i class="fa-solid fa-arrow-up fa-5x"></i>
          </div>
        </div>
        <div class="container">
          <div class="all__pages">
            <% pages.forEach(page =>{ %>
            <div id="inventory" class="inventory inactive">
              <% page.forEach(mon =>{ %> <% if(mon.empty){ %>
              <div class="slot"></div>
              <% } else {%>
              <div class="slot">
                <i class="fa-regular fa-clock"></i>
                <img
                  src="<%= mon.icon %>"
                  class="monster"
                  alt="<%= mon.name %>'s icon"
                  data-info="<%= mon.id %>"
                />
                <span class="level"><%= mon.level %></span>
              </div>
              <% }}) %>
            </div>
            <% }) %>
          </div>
          <div class="footer">
            <div class="page__management">
              <button id="back">
                <i
                  id="backB"
                  class="fa-solid fa-caret-left"
                  style="font-size: 28px"
                ></i>
              </button>
              <a id="pg-nr" class="counter icons" style="font-size: 28px">1</a>
              <button id="forward">
                <i
                  id="forwardB"
                  class="fa-solid fa-caret-right"
                  style="font-size: 28px"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="model">
      <h3>
        Evolving this mon will cost <span id="ammount"></span><br />
        p.s. the materials used will be consumed!
      </h3>
      <button id="confirm">Confirm</button>
      <button id="cancel">Cancel</button>
    </div>
    <div id="overlay" class=""></div>
    <script src="/evolution/script.js"></script>
    <script>
      let numPages = parseInt("<%= pages.length%>");
    </script>
    <script>
      document
        .querySelector(".inventory")
        .classList.replace("inactive", "active-mons");
    </script>
    <script>
      const found = "<%= found %>";
      console.log(found);
      let src = "/dashboard/basic.png";
      if (found === "true") {
        src = "/images/" + "<%= user.id %>" + ".png";
      }
      console.log(src);
      document.querySelector(".pfp").setAttribute("src", src);
    </script>
  </body>
</html>
